.black-border{
    border: 1px solid black;
}
.toolbar{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.row-border{
    border: black solid 1px;
    margin: 10px;
    background-color:lightblue;
}
.employee-header{
    border-bottom: black solid 1px;
}
.btn{
    margin-left: 10px;
    margin-bottom: 5px;
    padding-bottom: 0;
    padding-top: 0%;
}
.titleFont{
    font-size:larger
}
.labelFont{
    font-weight:500;
}
.col-1{
    padding-top: 50px;
}