.profileBox{
    border-bottom: 3px solid black;
    
}
.profileImage{
    width: 200px;
    height: 200px;
    margin: 50px;
    border-radius: 50%;
}
.profileText{
    font-size: x-large;
    font-style:italic;
}
.categoryBox{
    border: 1px solid black;
    margin: 30px;
    padding: 50px;
}
.categoryHead{
    text-decoration: underline;
    font-size: large;
    font-weight: 700;
}
.labelFont{
    font-weight: 500;
}

