.container-fluid{
    padding-right: 0%;
    padding-left: 0%;
}
.btn{
    margin-left: 3px;
}
.btn-outline-light{
    border: 0;
}
// .nav-item{
//     border-left: 1px solid white;
//     border-right: 1px solid white;
// }